{% extends "@admin/base.html.twig" %}

{% block body %}
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <a href="{{ path(cancelRouteName) }}" class="btn btn-primary">
                <i class="fas fa-long-arrow-alt-left"></i> Cancel
            </a>
        </div>
    </div>

    {{ form(form) }}
{% endblock %}